<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BetterImageNaming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA910C8A1B92BE3F00F1DB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA910C9E1B92BE3F00F1DB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA910CA91B92BE3F00F1DB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
